@import "../variables";

.product {
    padding: 30px 50px;
    border-bottom: 2px solid $gold;
    &-item {
        color: $white;
        font-size: 30px;
        text-transform: uppercase;
        transition: all .3s;
        outline: none;
        border: none;
        background: none;
        font-family: $font-body;
        &::placeholder {
            color: $white;
            font-weight: 900;
        }
    }
}