@import "../variables";

.category {
    padding: clamp(0.9375rem, 0.3139rem + 1.301vw, 1.875rem) clamp(1.5625rem, 0.5231rem + 2.1683vw, 3.125rem);
    border-bottom: 2px solid $gold;
    &-title {
        color: $white;
        font-size: clamp(1.125rem, 0.6261rem + 1.0408vw, 1.875rem);
        font-weight: 900;
        text-transform: uppercase;
        transition: all .3s;
    }
    &-search {
        color: $white;
        font-size: clamp(1.125rem, 0.6261rem + 1.0408vw, 1.875rem);
        font-weight: 900;
        text-transform: uppercase;
        transition: all .3s;
        outline: none;
        border: none;
        background: none;
        font-family: $font-body;
        width: 100%;
        &::placeholder {
            color: $white;
        }
    }
}