@import "../variables";

.title {
    margin: clamp(1.875rem, -0.6196rem + 5.2038vw, 5.625rem) 0 clamp(1.875rem, 0.0041rem + 3.9029vw, 4.6875rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    a {
        cursor: pointer;
    }
    &-value {
        color: $black;
        font-size: clamp(2.5rem, -3.3207rem + 12.1422vw, 11.25rem);
        font-weight: 900;
        text-transform: uppercase;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $gold;
        text-align: right;
        line-height: 1em;
    }
}