html,
body {
  font-family: $font-body;
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  overflow: hidden;
  color: $white;
  padding: 65px clamp(2.1875rem, -0.0992rem + 4.7702vw, 5.625rem);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 120px;
  &-heading {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    height: fit-content;
    margin-bottom: 100px;
    column-gap: clamp(1.25rem, -2.0761rem + 6.9384vw, 6.25rem);
    @include sm-breakpoint {
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
  }
  &-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp(1.25rem, -2.0761rem + 6.9384vw, 6.25rem);
    @include sm-breakpoint {
        grid-template-columns: 1fr;
    }
  }
  &-overview {
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    @include sm-breakpoint {
        grid-template-columns: 1fr;
    }
  }
  &-list {
    &-stock {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: clamp(1.25rem, -2.0761rem + 6.9384vw, 6.25rem);
      @include sm-breakpoint {
        grid-template-columns: 1fr;
      }
    }
  }
  &-scroll {
    overflow-x: scroll;
  }
}

.header {
  padding: 50px clamp(2.1875rem, -0.0992rem + 4.7702vw, 5.625rem) 0px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.991) 10.4%, hsla(0, 0%, 0%, 0.966) 19.9%, hsla(0, 0%, 0%, 0.927) 28.4%, hsla(0, 0%, 0%, 0.875) 36%, hsla(0, 0%, 0%, 0.812) 43%, hsla(0, 0%, 0%, 0.74) 49.5%, hsla(0, 0%, 0%, 0.661) 55.4%, hsla(0, 0%, 0%, 0.578) 61%, hsla(0, 0%, 0%, 0.49) 66.4%, hsla(0, 0%, 0%, 0.401) 71.6%, hsla(0, 0%, 0%, 0.313) 76.9%, hsla(0, 0%, 0%, 0.227) 82.2%, hsla(0, 0%, 0%, 0.145) 87.8%, hsla(0, 0%, 0%, 0.068) 93.7%, hsla(0, 0%, 0%, 0) 100%);
  a {
    font-size: 45px;
    font-weight: 900;
    color: $gold;
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }
  span {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    svg {
      color: $gold;
      aspect-ratio: 1;
      width: 34px;
      height: 34px;
    }
  }
}

.navigation {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 60px;
  border-left: 3px solid $gold;
  height: 100%;
  z-index: 998;
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: $black;
  gap: 20px;
  a {
    color: $white;
    font-size: clamp(1.125rem, 0.6261rem + 1.0408vw, 1.875rem);
    font-weight: 900;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: $gold;
    }
  }
}

.btn {
  background: none;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  color: $gold;
  font-size: clamp(1.125rem, 0.6261rem + 1.0408vw, 1.875rem);
  font-family: $font-body;
  cursor: pointer;
  &-wrapper {
    margin-top: clamp(1.5625rem, 0.5231rem + 2.1683vw, 3.125rem);
    padding: 0 clamp(1.5625rem, 0.5231rem + 2.1683vw, 3.125rem);
  }
}