html,
body {
  font-family: $font-body;
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  overflow: hidden;
  color: $white;
  padding: 65px 90px;
  display: grid;
  grid-template-rows: auto 1fr;
  &-heading {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    height: fit-content;
    margin-bottom: 100px;
    column-gap: 100px;
  }
  &-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
  }
  &-overview {
    gap: 40px;
  }
}

.header {
  padding: 50px 100px;
  span {
    font-size: 45px;
    font-weight: 900;
    color: $gold;
    text-transform: uppercase;
  }
}