@font-face {
  font-family: Gilroy;
  src: url(../../public/fonts/Gilroy-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url(../../public/fonts/Gilroy-Black.ttf) format('truetype');
  font-weight: 900;
}